/* Carousel */

.carousel {
	margin-bottom: 20px;
}

.carousel img {
	padding: 3px;
	@include add-border(1px, #cccccc, all);
}

/* Blockquote */

.blockquote {
	@include add-border(5px, #ffffff, right);
	padding-right: 15px;
}

/* Tabs */

.tab-pane {
	padding: 20px 10px;
	@include border-radius(5px);
	@include add-border(1px, $primary-color, all);
	margin-bottom: 20px;
}

/*
.tab-primary .nav-tabs > a.nav-link.active, 
.tab-primary .nav-tabs > .nav-item.show .nav-link, 
.tab-primary .nav-tabs > li.nav-item > a:hover, 
.tab-primary .nav-tabs > li.nav-item > a:focus, 
.tab-primary .tab-pane {
	@include add-background($primary-color);
} */